<h2>Look at the multitude of people who have decided to join the Petition{{#if city}} from {{city}} {{/if}} and want to have their voices heard! </h2>
<p>Mama Ru cannot ignore all of us and will find a way to react to our petition! Feel free to share the link with your friends</p>

<nav>
    {{#signersArr}}
        {{#if Homepage}}
            <li><a href="{{Homepage}}" target="_blank">{{first_name}} {{last_name}}</a>
                 {{#if AGE}}- {{AGE}}{{/if}}
                 {{#if City}}
                 from <a href="/signers/{{City}}">{{City}}</a>
                 {{/if}}
                 </li>
        {{else}}
            <li>{{first_name}} {{last_name}}{{#if AGE}}- {{AGE}}{{/if}}
            {{#if City}}
            from <a href="/signers/{{City}}">{{City}}</a>
            {{/if}}
            </li>
        {{/if}}
    {{/signersArr}}
</nav>
