<h2>Look at the molitude of people who has decided to join the Petiition{{#if city}} from {{city}} {{/if}}, and want to have their voices heard! </h2>
<p>Mama Ru cannot ignore all of us, and will find a way to react to our petition! Feel free to share the link with your friends</p>

<nav>
    {{#signersArr}}
        {{#if Homepage}}
            <li><a href="{{Homepage}}" target="_blank">{{first_name}} {{last_name}}</a> - {{AGE}} from <a href="/signers/{{City}}">{{City}}</a></li>
        {{else}}
            <li>{{first_name}} {{last_name}} - {{AGE}} from <a href="/signers/{{City}}">{{City}}</a></li>
        {{/if}}
    {{/signersArr}}
</nav>
